/cache
/auxdata
*.mexa64
*.mexw64
*.mexmaci64
*.mex
*.oct
*.so
*.dll
*.asv
*.sofa
*.mat
*.wav
*.csv
*.np
/pathdef.m
__pycache__
/thirdparty/sfs
/thirdparty/sofa
/thirdparty/ltfat
/thirdparty/circstat
/thirdparty/binauralSH
thirdparty/bads
mat2doc/php/ref-amtoolbox.txt

